[user]
	name = Kayd Withers
	email = kaydwithers@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/Kayd/.gitignore
[github]
	user = kaydwithers
[branch "master"]
  remote = origin
  merge = master
[branch]
  autosetupmerge = true 